@charset "UTF-8";
/* CSS Document */

html{
    margin: 0;
    padding: 0;
}

ul{
    list-style: none;
}

ul li{
    list-style: none;
}

ul li a{
    
}

.wrapper{
    width: 1000px;
    height: 500px;
    padding-bottom: 500px;
    padding-left: 1000px;
}