@charset "UTF-8";
/* CSS Document */

html{
    margin: 0;
    padding: 0;
}

a{

}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline;
    float: right;
}

ul li{
    list-style: none;
    display: inline-block;
    float: left;
}

ul li a{
    text-decoration: none;
    font-size: 30px;
    color: black;
}

body{
    background-color: white;
}

.wrapper{
    width: 50%;
}

.nav{
    background-color: #150300;
    width: 100%;
    height: 100%;
}

.ourstory{
    max-width: 50%;
    float: left;
    height: 500px;
    border-style: solid;
    border-color: black;
    border-width: 5px;
}

.title{
    width: 50%;
    height: 70px;
    padding-right: 50%;
    text-align: center;
    float: left;
    padding-bottom: 60px;
}
h2{
    color: lightsalmon;
}

.paragraph{
    
}

